*{
    margin: 0;
  }
ion-header{
      height: 5%;
      text-align: center;
  }

.greeting {
      margin-right: 50px;
      padding:15px;
  }
p {
      font-size:20pt;
      padding: 10pt;
      font-weight: bolder;
  }

table{
  width: 100%;
}
  

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}


.styled-table tbody tr {
  border-bottom: 1px solid #000000;
}

.incomplete{
  width: 25px;
  height: 25px;
  --background:red;
}

.complete{
  width: 25px;
  height: 25px;
  --background: green;
}



  app-tab-bar{
    height: 10%;
  }