<ion-header>
  <ion-toolbar>
    <ion-title>upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "light">
  <div id = "imgcontainer">
    <img src={{url}} onerror="this.src = './assets/icon/defaultpic.png'" id="pic">
  </div>
  <div id="uploadcontainer">
    <input #fileInput style="display: none;" type="file" (change)=selectFile($event) #input>
    <ion-button expand="block" id = "uploadBtn" (click)=fileInput.click()>Upload</ion-button>
    <ion-label id="msg">{{msg}}</ion-label>
  </div>
</ion-content>
<app-tab-bar></app-tab-bar>
