#imgcontainer{
    position: relative;
    top: 10%;
    margin: auto;
    width: fit-content;
    z-index: 1;
}

#pic{
    width: 300px;
    height: 300px;
}

#uploadcontainer{
    margin: auto;
    width: 70%;
    z-index: 1;
    position: relative;
    top: 25%;

}