*{
  margin: 0;
}
ion-header{
    height: 5%;
    text-align: center;
    /*background-color: black;*/
}
ion-title {
    /*color: white;*/
}
ion-toolbar, ion-title{
    height: 65%;
    text-align: center;
    margin-top: 5pt;
}
ion-content{
    height: 100%;
}


.greeting {
    margin-right: 50px;
    padding:15px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    padding: 3%;
    color: black;
}