<ion-header>
  <ion-toolbar>
    <app-back-button></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="alert-div">
      <div class="alert" *ngIf="alert">{{alert}}</div> 
    </div>
  </div>
  <h1>How are you doing today {{name}}?</h1>
  <p>Please complete the following: </p>
  <div class="container">
    <div class="cell cell-1" *ngIf="ampac"><ion-button class="surveyBtn" (click)=activityBtn()  expand="full" fill="clear"><div><img src="./assets/icon/activity.png" alt="" width="100" height="100"><div class="survey-label"><br>Daily activity</div></div></ion-button></div>
    <div class="cell cell-2" *ngIf="peg"><ion-button class="surveyBtn" (click)=painBtn() expand="full" fill="clear"><div><img src="./assets/icon/pain.png" alt="" width="100" height="100"><div class="survey-label"><br>Daily pain</div></div></ion-button></div>
    <div class="cell cell-3" *ngIf="phq1"><ion-button class="surveyBtn" (click)=moodBtn() expand="full" fill="clear"><div><img src="./assets/icon/mood.png" alt="" width="100" height="100"><div class="survey-label"><br>Daily mood</div></div></ion-button></div>
    <div class="cell cell-4" *ngIf="wound_survey"><ion-button class="surveyBtn" (click)=woundBtn() expand="full" fill="clear"><div><img src="./assets/icon/wound.png" alt="" width="100" height="100"><div class="survey-label"><br>Daily wound</div></div></ion-button></div>
    <div class="cell cell-5" *ngIf="wound_picture"><ion-button class="surveyBtn" (click)=picBtn() expand="full" fill="clear"><div><img src="./assets/icon/pic.png" alt="" width="100" height="100"><div class="survey-label"><br>Daily picture</div></div></ion-button></div>
    <div class="cell cell-7" *ngIf="appointment_survey"><ion-button class="surveyBtn" (click)=followUpBtn() expand="full" fill="clear"><div><img src="./assets/icon/followUp.png" alt="" width="100" height="100"><div class="survey-label"><br>Follow up</div></div></ion-button></div>    
  </div>

  <ion-button class="submitBtn" (click)=submitSurveyResults()>Complete survey</ion-button>

</ion-content>
<app-tab-bar></app-tab-bar>
