<ion-header>
  <div>
    <ion-accordion-group id="state">
      <ion-accordion>
        <ion-item slot ="header">
          <p><strong>{{selectedPatient}}</strong></p>
        </ion-item>
        <ion-list slot="content" *ngFor="let patient of patients">
          <ion-item id="name">
            <ion-button id="nameBtn"  expand="full" fill="clear" color="dark" (click)=selectUser(patient) (click)=closeAccordions()>{{patient['patient_name']}}</ion-button>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
   </div>
</ion-header>

<ion-content>
  <div id="wrapper">
    <ion-grid id = "container">
      <ion-row *ngFor="let message of selectedMessages" >

        <ion-col size="5" class="message other-message" *ngIf="currentUser!==message['chat_sender']">
          <b>{{patient['patient_name']}}</b><br><br>
          <span>{{message['chat_message']}}</span>
          <div class = "time">
            <br>{{message['chat_sent_date'] | date:'short'}}
          </div>
          <div class="tail-othermsg"></div>
        </ion-col>

        <ion-col offset="7" size="5" class="message my-message" *ngIf="currentUser==message['chat_sender']">
          <b>{{username}}</b><br><br>
          <span>{{message['chat_message']}}</span>
          <div class = "time">
            <br>{{message['chat_sent_date'] | date:'short'}}
          </div>
          <div class="tail-mymsg"></div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-toolbar slot="fixed" style="bottom: 0;">
  <ion-row style="align-items: center;" >
    <ion-col size="10">
      <textarea autosize maxRow="5" [(ngModel)]="newMsg" class="message-input"></textarea>
    </ion-col>
    <ion-col size="2">
      <ion-button expand="block" fill="clear" class="msg-btn" (click)=sendMsg() [disabled]="newMsg ===''">
        <ion-icon  name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-toolbar>
<app-tab-bar></app-tab-bar>




