
#name{
    border-bottom: 2px solid rgba(0, 0, 0, 0.433);
}

#nameBtn{
    width: 100%;
    height: 100%;
}


#row{
    align-items: center;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    overflow: auto;

}

.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    white-space: pre-wrap;

}

.other-message{
    background: rgba(101, 141, 240, 0.716);

}

.my-message{
    background-color: rgba(220, 207, 207, 0.716);
}

.time{
    float: right;
}


.tail-mymsg{
    position: absolute;
    right: -15px;
    top: 40px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    white-space: pre-wrap;
    background-color: rgb(0, 0, 0);
}
.tail-othermsg{
    position: absolute;
    left: -15px;
    top: 40px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    white-space: pre-wrap;
    background-color: rgb(0, 0, 0);
}


.message-input{
    width:100%;
    border: 1px solid var(--ion-color-medium);
    border-radius:10px;
    background: #fff;
    resize: none;
    padding-left:10px;
    padding-right:10px
}

.msg-btn{
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}
b {
    color: black;
}
span {
    color: black;
}
textarea {
    margin-top: 5px;
}