<ion-header>
  <ion-toolbar>
    <app-back-button></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div class="wrap">
    <h1 class="likert-header">Tell us about your pain today</h1>
    <form [formGroup]="peg" (ngSubmit)="onSubmit">
      <label class="statement">What number best describes your pain, on average, in the past week?</label>
      <div>
        <div class="alert-div">
          <div class="alert" *ngIf="alert">{{alert}}</div> 
        </div>
      </div>
      <div class="surveyWrapper">
        <ul class='likert'>
          <li>
            <label>0</label>
            <input type="radio" value="0" name="q1" formControlName="q1">
          </li>
          <li>
            <label>1</label>
            <input type="radio" value="1" name="q1" formControlName="q1">
          </li>
          <li>
            <label>2</label>
            <input type="radio" value="2" name="q1" formControlName="q1">
          </li>
          <li>
            <label>3</label>
            <input type="radio" value="3" name="q1" formControlName="q1">
          </li>
          <li>
            <label>4</label>
            <input type="radio" value="4" name="q1" formControlName="q1">
          </li>
          <li>
            <label>5</label>
            <input type="radio" value="5" name="q1" formControlName="q1">
          </li>
          <li>
            <label>6</label>
            <input type="radio" value="6" name="q1" formControlName="q1">
          </li>
          <li>
            <label>7</label>
            <input type="radio" value="7" name="q1" formControlName="q1">
          </li>
          <li>
            <label>8</label>
            <input type="radio" value="8" name="q1" formControlName="q1">
          </li>
          <li>
            <label>9</label>
            <input type="radio" value="9" name="q1" formControlName="q1">
          </li>
          <li>
            <label>10</label>
            <input type="radio" value="10" name="q1" formControlName="q1">
            
          </li>
        </ul>
        <div class="extremes">
          <span>No Pain</span>
          <span>Pain as bad as<br>you can imagine</span>
        </div>
      </div>

      <label class="statement">What number best describes how, during the past week, pain has interfered with your enjoyment of life?</label>
      <div class="surveyWrapper">
        <ul class='likert'>
          <li>
            <label>0</label>
            <input type="radio" value="0" name="q2" formControlName="q2">
          </li>
          <li>
            <label>1</label>
            <input type="radio" value="1" name="q2" formControlName="q2">
          </li>
          <li>
            <label>2</label>
            <input type="radio" value="2" name="q2" formControlName="q2">
          </li>
          <li>
            <label>3</label>
            <input type="radio" value="3" name="q2" formControlName="q2">
          </li>
          <li>
            <label>4</label>
            <input type="radio" value="4" name="q2" formControlName="q2">
          </li>
          <li>
            <label>5</label>
            <input type="radio" value="5" name="q2" formControlName="q2">
          </li>
          <li>
            <label>6</label>
            <input type="radio" value="6" name="q2" formControlName="q2">
          </li>
          <li>
            <label>7</label>
            <input type="radio" value="7" name="q2" formControlName="q2">
          </li>
          <li>
            <label>8</label>
            <input type="radio" value="8" name="q2" formControlName="q2">
          </li>
          <li>
            <label>9</label>
            <input type="radio" value="9" name="q2" formControlName="q2">
          </li>
          <li>
            <label>10</label>
            <input type="radio" value="10" name="q2" formControlName="q2">
            
          </li>
        </ul>
        <div class="extremes">
          <span>Does not<br>interfere</span>
          <span>Completely<br>Interferes</span>
        </div>
      </div>

      <label class="statement">What number best describes how, during the past week, pain has interfered with your general activity?</label>
      <div class="surveyWrapper">
        <ul class='likert'>
          <li>
            <label>0</label>
            <input type="radio" value="0" name="q3" formControlName="q3">
          </li>
          <li>
            <label>1</label>
            <input type="radio" value="1" name="q3" formControlName="q3">
          </li>
          <li>
            <label>2</label>
            <input type="radio" value="2" name="q3" formControlName="q3">
          </li>
          <li>
            <label>3</label>
            <input type="radio" value="3" name="q3" formControlName="q3">
          </li>
          <li>
            <label>4</label>
            <input type="radio" value="4" name="q3" formControlName="q3">
          </li>
          <li>
            <label>5</label>
            <input type="radio" value="5" name="q3" formControlName="q3">
          </li>
          <li>
            <label>6</label>
            <input type="radio" value="6" name="q3" formControlName="q3">
          </li>
          <li>
            <label>7</label>
            <input type="radio" value="7" name="q3" formControlName="q3">
          </li>
          <li>
            <label>8</label>
            <input type="radio" value="8" name="q3" formControlName="q3">
          </li>
          <li>
            <label>9</label>
            <input type="radio" value="9" name="q3" formControlName="q3">
          </li>
          <li>
            <label>10</label>
            <input type="radio" value="10" name="q3" formControlName="q3">
            
          </li>
        </ul>
        <div class="extremes">
          <span>Does not<br>interfere</span>
          <span>Completely<br>Interferes</span>
        </div>
      </div>
      
      <div class="buttons">
        <ion-button color="light" class="clear" (click)=clear()>Clear</ion-button>
        <ion-button class="submit" (click)=onSubmit()>Submit</ion-button>
      </div>
    </form>
  </div>
</ion-content>

<app-tab-bar></app-tab-bar>
