
ion-content{
    text-align: center;
    margin: 2%;
}
.wrap{
  text-align: center;
  padding: 7%;
  color: black;
}
img{
  transform: scale(.1);
}
.likert{
  list-style: none;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-left: -16%;
}

.likert-header{
  margin-bottom: 10%;
}
.surveyWrapper{
  margin-top: 5%;
  margin-bottom: 20%;
  border-bottom: 2px solid;

}
.extremes{
  display: flex;
  justify-content: space-between;
  padding: 2px;
}



li{
  display: inline;
  margin: 1px;
  position:relative;

}
li input{
  position: relative;
  height: 26px;
  width: 26px;
  border-radius: 50%;

  opacity: 0;
}
li label{
  margin: 0;
  padding: 0;
  position: relative;
  left: 19px;
  bottom: 9px;
}

li label:last-child{
  left:5px;
}
li:last-child{
  position: relative;
  right: 5px;
}

li input[type=radio]:checked{
  opacity: 1;

} 
.buttons ion-button{
  margin: 5%;
  width: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.statement {
  font-size: larger;
}
.alert-div {
  padding: 1%;
}
.alert {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2%;
  padding: 5%;
  text-align: center;
}

