<ion-header>
  <ion-toolbar>
    <ion-title><img src="./assets/icon/VASDA_Icon.png"></ion-title>
    <app-back-button></app-back-button>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid id = "container">
    <ion-row *ngFor="let message of messages" >
      <ion-col size="10" class="message">
        <b>Dr. Xu</b><br><br>
        <span>{{message['Message']}}</span>
        <div class = "time" text-right>
          <br>{{message['Date_Sent'] | date:'short'}}
        </div>
        <div id="tail"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-tab-bar></app-tab-bar>
