
  <ion-tab-bar class="tabbar"style="height: 10vh;" slot="fixed">
    <ion-tab-button (click)=homebtn()>
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)=chatbtn()>
      <ion-label>Chat</ion-label>
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)=profileBtn()>
      <ion-label>Profile</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>


