
ion-content{
    text-align: center;
    margin: 2%;
}
img{
  transform: scale(.1);
}

h1{
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}
h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  padding: 5px;
}
label {
  color: black;
}
input{
  transform: scale(2);
  margin: 15px;
}

.statementWrapper{
  margin: 5%;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons ion-button{
  margin: 5%;
  width: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alert-div {
  padding: 1%;
}
.alert {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2%;
  padding: 5%;
  text-align: center;
}
