<ion-header>
  <ion-toolbar>
    <ion-title>How are you feeling today?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="header">Tell us about your daily activity</h1>
  
  <h4 class="question">How much help do you need from another person?</h4>

  
  <div class="wrapper">
    <form class="form">

      <h2 >Putting on and taking off regular lower body clothing</h2>
      <div class="switch-field">
        
        <input type="radio" id="radio-1" name="changingLower" value="Unable"/>
        <label for="radio-1">Unable</label>

        <input type="radio" id="radio-2" name="changingLower" value="A lot" />
        <label for="radio-2">A lot</label>

        <input type="radio" id="radio-3" name="changingLower" value="A little" />
        <label for="radio-3">A little</label>

        <input type="radio" id="radio-4" name="changingLower" value="None" />
        <label for="radio-4">None</label>
      </div>

      <h2 >Bathing (including washing, rinsing, drying)?</h2>
      <div class="switch-field">
        
        <input type="radio" id="radio-5" name="bathing" value="Unable"/>
        <label for="radio-5">Unable</label>

        <input type="radio" id="radio-6" name="bathing" value="A lot" />
        <label for="radio-6">A lot</label>

        <input type="radio" id="radio-7" name="bathing" value="A little" />
        <label for="radio-7">A little</label>

        <input type="radio" id="radio-8" name="bathing" value="None" />
        <label for="radio-8">None</label>
      </div>

      <h2 >Toileting, which includes using toilet, bedpan, or urinal?</h2>
      <div class="switch-field">
        
        <input type="radio" id="radio-9" name="toileting" value="Unable"/>
        <label for="radio-9">Unable</label>

        <input type="radio" id="radio-10" name="toileting" value="A lot" />
        <label for="radio-10">A lot</label>

        <input type="radio" id="radio-11" name="toileting" value="A little" />
        <label for="radio-11">A little</label>

        <input type="radio" id="radio-12" name="toileting" value="None" />
        <label for="radio-12">None</label>
      </div>

      <h2 >Putting on and taking off regular upper body clothing?</h2>
      <div class="switch-field">
        
        <input type="radio" id="radio-13" name="changingUpper" value="Unable"/>
        <label for="radio-13">Unable</label>

        <input type="radio" id="radio-14" name="changingUpper" value="A lot" />
        <label for="radio-14">A lot</label>

        <input type="radio" id="radio-15" name="changingUpper" value="A little" />
        <label for="radio-15">A little</label>

        <input type="radio" id="radio-16" name="changingUpper" value="None" />
        <label for="radio-16">None</label>
      </div>

      <h2 >Taking care of personal grooming such as brushing teeth?</h2>
      <div class="switch-field">
        
        <input type="radio" id="radio-17" name="grooming" value="Unable"/>
        <label for="radio-17">Unable</label>

        <input type="radio" id="radio-18" name="grooming" value="A lot" />
        <label for="radio-18">A lot</label>

        <input type="radio" id="radio-19" name="grooming" value="A little" />
        <label for="radio-19">A little</label>

        <input type="radio" id="radio-20" name="grooming" value="None" />
        <label for="radio-20">None</label>
      </div>

      <h2 >Eating meals?</h2>
      <div class="switch-field">
        
        <input type="radio" id="radio-21" name="eating" value="Unable"/>
        <label for="radio-21">Unable</label>

        <input type="radio" id="radio-22" name="eating" value="A lot" />
        <label for="radio-22">A lot</label>

        <input type="radio" id="radio-23" name="eating" value="A little" />
        <label for="radio-23">A little</label>

        <input type="radio" id="radio-24" name="eating" value="None" />
        <label for="radio-24">None</label>
      </div>
  
    </form>

    <div class="buttons">
      <ion-button color="light" class="clear" (click)=clear()>Clear</ion-button>
      <ion-button class="submit" (click)=onSubmit()>Submit</ion-button>
    </div>
  </div>



</ion-content>
