<ion-header>
  <ion-toolbar>
    <app-back-button></app-back-button>
  </ion-toolbar>
</ion-header>
<ion-content id="content" [scrollEvents]="true">
  <h1 class="header">Tell us about your daily activity</h1>
  
  <h4 class="question">How much help do you need from another person: </h4>

  <div>
    <div class="alert-div">
      <div class="alert" *ngIf="alert">{{alert}}</div> 
    </div>
  </div>
  <div class="wrapper">
    <form class="form" [formGroup]="ampac" (ngSubmit)="onSubmit">
      
      <div class="statementWrapper">
        <h4 class="question">Putting on and taking off regular lower body clothing</h4>
        <input type="radio" name="q1" value="1" formControlName="q1">
        <label>Unable</label>
        <br>  
        <input type="radio" name="q1" value="2" formControlName="q1">
        <label>A lot</label>
        <br>
        <input type="radio" name="q1" value="3" formControlName="q1">
        <label>A little</label>
        <br>
        <input type="radio" name="q1" value="4" formControlName="q1">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Bathing (including washing, rinsing, drying)?</h4>
        <input type="radio" name="q2" value="1" formControlName="q2">
        <label>Unable</label>
        <br>  
        <input type="radio" name="q2" value="2" formControlName="q2">
        <label>A lot</label>
        <br>
        <input type="radio" name="q2" value="3" formControlName="q2">
        <label>A little</label>
        <br>
        <input type="radio" name="q2" value="4" formControlName="q2">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Toileting, which includes using toilet, bedpan, or urinal?</h4>
        <input type="radio" name="q3" value="1" formControlName="q3">
        <label>Unable</label>
        <br>  
        <input type="radio" name="q3" value="2" formControlName="q3">
        <label>A lot</label>
        <br>
        <input type="radio" name="q3" value="3" formControlName="q3">
        <label>A little</label>
        <br>
        <input type="radio" name="q3" value="4" formControlName="q3">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Putting on and taking off regular upper body clothing?</h4>
        <input type="radio" name="q4" value="1" formControlName="q4">
        <label>Unable</label>
        <br>  
        <input type="radio" name="q4" value="2" formControlName="q4">
        <label>A lot</label>
        <br>
        <input type="radio" name="q4" value="3" formControlName="q4">
        <label>A little</label>
        <br>
        <input type="radio" name="q4" value="4" formControlName="q4">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Taking care of personal grooming such as brushing teeth?</h4>
        <input type="radio" name="q5" value="1" formControlName="q5">
        <label>Unable</label>
        <br>  
        <input type="radio" name="q5" value="2" formControlName="q5">
        <label>A lot</label>
        <br>
        <input type="radio" name="q5" value="3" formControlName="q5">
        <label>A little</label>
        <br>
        <input type="radio" name="q5" value="4" formControlName="q5">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Eating meals?</h4>
        <input type="radio" name="q6" value="1" formControlName="q6">
        <label>Unable</label>
        <br>  
        <input type="radio" name="q6" value="2" formControlName="q6">
        <label>A lot</label>
        <br>
        <input type="radio" name="q6" value="3" formControlName="q6">
        <label>A little</label>
        <br>
        <input type="radio" name="q6" value="4" formControlName="q6">
        <label>None</label>  
      </div>
    </form>
    <div class="buttons">
      <ion-button color="light" class="clear" (click)=clear()>Clear</ion-button>
      <ion-button class="submit" (click)=onSubmit()>Submit</ion-button>
    </div>
  </div>

</ion-content>

<app-tab-bar></app-tab-bar>