ion-content{
  text-align: center;
}
img{
  transform: scale(.1);
}

h1{
  font-weight: bolder;
}
input{
  transform: scale(2);
  margin: 15px;
}

.statementWrapper{
  margin: 5%;
}
.statementWrapper{
  text-align:left;
}

.buttons ion-button{
  margin: 5%;
  width: 25%;

}