<ion-header>
  <ion-toolbar>
    <ion-title><img src="./assets/icon/VASDA_Icon.png"></ion-title>
    <app-back-button></app-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="header">Tell us about your daily activity</h1>
  
  <h4 class="question">How much help do you need from another person: </h4>

  
  <div class="wrapper">
    <form class="form" [formGroup]="dailyActivity" (ngSubmit)="onSubmit">
      
      <div class="statementWrapper">
        <h4 class="question">Putting on and taking off regular lower body clothing</h4>
        <input type="radio" name="changingLower" value="Unable" formControlName="changingLower">
        <label>Unable</label>
        <br>  
        <input type="radio" name="changingLower" value="A lot" formControlName="changingLower">
        <label>A lot</label>
        <br>
        <input type="radio" name="changingLower" value="A little" formControlName="changingLower">
        <label>A little</label>
        <br>
        <input type="radio" name="changingLower" value="None" formControlName="changingLower">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Bathing (including washing, rinsing, drying)?</h4>
        <input type="radio" name="bathing" value="Unable" formControlName="bathing">
        <label>Unable</label>
        <br>  
        <input type="radio" name="bathing" value="A lot" formControlName="bathing">
        <label>A lot</label>
        <br>
        <input type="radio" name="bathing" value="A little" formControlName="bathing">
        <label>A little</label>
        <br>
        <input type="radio" name="bathing" value="None" formControlName="bathing">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Toileting, which includes using toilet, bedpan, or urinal?</h4>
        <input type="radio" name="toileting" value="Unable" formControlName="toileting">
        <label>Unable</label>
        <br>  
        <input type="radio" name="toileting" value="A lot" formControlName="toileting">
        <label>A lot</label>
        <br>
        <input type="radio" name="toileting" value="A little" formControlName="toileting">
        <label>A little</label>
        <br>
        <input type="radio" name="toileting" value="None" formControlName="toileting">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Putting on and taking off regular upper body clothing?</h4>
        <input type="radio" name="changingUpper" value="Unable" formControlName="changingUpper">
        <label>Unable</label>
        <br>  
        <input type="radio" name="changingUpper" value="A lot" formControlName="changingUpper">
        <label>A lot</label>
        <br>
        <input type="radio" name="changingUpper" value="A little" formControlName="changingUpper">
        <label>A little</label>
        <br>
        <input type="radio" name="changingUpper" value="None" formControlName="changingUpper">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Taking care of personal grooming such as brushing teeth?</h4>
        <input type="radio" name="grooming" value="Unable" formControlName="grooming">
        <label>Unable</label>
        <br>  
        <input type="radio" name="grooming" value="A lot" formControlName="grooming">
        <label>A lot</label>
        <br>
        <input type="radio" name="grooming" value="A little" formControlName="grooming">
        <label>A little</label>
        <br>
        <input type="radio" name="grooming" value="None" formControlName="grooming">
        <label>None</label>  
      </div>

      <div class="statementWrapper">
        <h4 class="question">Eating meals?</h4>
        <input type="radio" name="eating" value="Unable" formControlName="eating">
        <label>Unable</label>
        <br>  
        <input type="radio" name="eating" value="A lot" formControlName="eating">
        <label>A lot</label>
        <br>
        <input type="radio" name="eating" value="A little" formControlName="eating">
        <label>A little</label>
        <br>
        <input type="radio" name="eating" value="None" formControlName="eating">
        <label>None</label>  
      </div>
      

    </form>

    <div class="buttons">
      <ion-button color="light" class="clear" (click)=clear()>Clear</ion-button>
      <ion-button class="submit" (click)=onSubmit()>Submit</ion-button>
    </div>
  </div>

</ion-content>

<app-tab-bar></app-tab-bar>