
  <div class="container">
    <div class="cell cell-1"><ion-button (click)=homehealthbttn() expand="full" fill="clear"><div><ion-icon name="person-outline" size="large"></ion-icon><div id = "cell1"><br>Home Health<br>Visit</div></div></ion-button></div>
    <div class="cell cell-2"><ion-button (click)=tasksbttn() expand="full" fill="clear"><div><ion-icon name="clipboard-outline" size="large"></ion-icon><div id = "cell2"><br>Tasks</div></div></ion-button></div>
    <div class="cell cell-3"><ion-button (click)=apptbttn() expand="full" fill="clear"><div><ion-icon name="calendar-outline" size="large"></ion-icon><div id = "cell3"><br>Appointments</div></div></ion-button></div>
    <div class="cell cell-4"><ion-button (click)=dschargebttn() expand="full" fill="clear"><div><ion-icon name="list-outline" size="large"></ion-icon><div id = "cell4"><br>Discharge<br>Instructions</div></div></ion-button></div>
    <div class="cell cell-5"><ion-button (click)=surveybttn() expand="full" fill="clear"><div><ion-icon name="create-outline" size="large"></ion-icon><div id = "cell5"><br>How are you<br> doing today?</div></div></ion-button></div>
    <div class="cell cell-7"><ion-button (click)=woundbttn() expand="full" fill="clear"><div><ion-icon name="options-outline" size="large"></ion-icon><div id = "cell6"><br>About</div></div></ion-button></div>
    
    <!-- <div id="emergency" class="cell cell-8"><ion-button (click)=emergencybttn() expand="full" fill="clear"><div><ion-icon name="call-outline" size="large"></ion-icon><br>EMERGENCY</div></ion-button></div> -->
    
  </div>

