<ion-content>
  <div id="outer-container">
    <div id="imgBox">
      <img src="./assets/icon/VASDA.png">
    </div>
      <div id="outer-form">
        <div>
          <div class="alert-div">
            <div class="alert" *ngIf="alert">{{alert}}</div> 
          </div>
        </div>
        <h1>Patients Login</h1>
        <form [formGroup]="formInputs" id="form">
          <ion-list id="inputs">
            <ion-item>
              <ion-label>
                <ion-icon name='person'></ion-icon>
              </ion-label>
              <ion-input id="username" placeholder="username" type="text" class="form-control" formControlName="username"></ion-input>
            </ion-item>
            <div class="errors">
              <small *ngIf="!username.valid && (username.dirty || username.touched)" class="text-danger">Username required.</small>
            </div> 
            <ion-item>
              <ion-label>
                <ion-icon name = "key"></ion-icon>
              </ion-label>
              <app-show-hide >
                <ion-input id="password" placeholder="password" type = "text" class="form-control" [type]="'password'" formControlName="password"></ion-input>
              </app-show-hide>
            </ion-item>
            <div class="errors">
              <small *ngIf="password.touched && password.invalid" class="text-danger">Password required.</small>
            </div>
            <ion-button id="loginBtn" (click)=btnLogin() expand="block" >Login</ion-button>
            <div id="options">
              <ion-button (click)=btnRegister() fill="clear">Create Account</ion-button>
              <ion-button (click)=btnForgotPassword() fill="clear" expand="block" >Forgot Password</ion-button>
            </div>  
          </ion-list>
      </form>
    </div>  
  </div>
</ion-content>

