<ion-content class="outer-container" color="light">
  <div id="imgBox">
    <img src="./assets/icon/VASDA.png">
  </div>
  <h1>Patients Login</h1>
  <div>
    <div class="alert-div">
      <div class="alert" *ngIf="alert">{{alert}}</div>
    </div>
  </div>
  <form>
    <div class="form-group" id="outter-form">
      <form [formGroup] = "formInputs">
        <ion-list id="inputs" style="background-color: transparent;">
          <ion-item>
            <ion-label>
              <ion-icon name='person'></ion-icon>
            </ion-label>
            <ion-input id="username" placeholder="username" type="text" class="form-control" formControlName="username"
            [class.is-invalid]="username.invalid && username.touched"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="(username.invalid && username.touched) || username.dirty">
            <small *ngIf="username.errors?.required" class="text-danger">Username required.</small>
          </div>
          <ion-item>
            <ion-label>
              <ion-icon name = "key"></ion-icon>
            </ion-label>
            <app-show-hide >
              <ion-input id="password" placeholder="password" type = "text" class="form-control" [type]="'password'" formControlName="password"
              [class.is-invalid]="password.invalid && password.touched"></ion-input>
            </app-show-hide>
          </ion-item>
          <div class="errors" *ngIf="(password.invalid && password.touched) || password.dirty">
            <small *ngIf="password.errors?.required" class="text-danger">Password required.</small>
          </div>
          <ion-button id="loginBtn" (click)=btnLogin() expand="block" style = "margin: 20px;">Login</ion-button>  
          <ion-button (click)=btnForgotPassword() fill="clear" expand="block" style="margin:20px">Forgot Password</ion-button>
          <div id = "options">
            <ion-button (click)=btnClick() style="float: left;" fill="clear">Doctors Login</ion-button>
            <ion-button (click)=btnRegister() style="float: right;" fill="clear">Create Account</ion-button>
          </div>
          <div id="register_div">
          </div>
        </ion-list>
    </form>
    </div>
  </form>
</ion-content>

