<ion-header>
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title class="ion-text-center" style="margin-right: 10%">
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="survey-task" *ngIf="this.user['patient_survey_taken']=='0'">
    <ion-item>
      <ion-label>Take daily surveys</ion-label>
      <ion-button size="default" (click) ='surveyBtn()'>go</ion-button>
    </ion-item>
  </div>
  <div id="survey-task" *ngIf="this.user['patient_survey_taken']=='1'">
    <ion-item>
      <ion-label>All done for today!</ion-label>
    </ion-item>
  </div>
</ion-content>
<app-tab-bar></app-tab-bar>
