
ion-content{
    text-align: center;
    margin: 2%;
}
.wrapper {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding-top: 20%;
}   

img{
    transform: scale(.1);
}
input{
    transform: scale(2);
    margin: 15px;
}

.statementWrapper{
    margin: 5%;
}
.statementWrapper{
    text-align:left;
}

.buttons ion-button{
    width: 25%;
    margin: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }

.alert-div {
    padding: 1%;
}
.alert {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%;
    padding: 5%;
    text-align: center;
}