<ion-header>
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title class="ion-text-center" style="margin-right: 10%">
      Appointments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id = "appbox" *ngFor="let appointment of appointments">
    <h1>Date: <strong>{{appointment['appointment_date']}}</strong></h1>
    
    <p><strong>Location: </strong>{{appointment['appointment_location']}} </p>
    <p><strong>Doctor: </strong>{{appointment['appointment_doctor']}}</p>
  </div>
</ion-content>
<app-tab-bar></app-tab-bar>
