<ion-content color="light">
  <div id="title">
    <h1>Patient Registration</h1>
  </div>
  <div id="alert-div">
    <div class="alert" *ngIf="alert">{{alert}}</div>
  </div>
  <div id="registration_form">
    <form [formGroup]="formInputs">
      <ion-grid id="inputs" style="background-color: transparent;">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input id="fname-input" placeholder="First Name" type = "text" class="form-control" formControlName="fname"
              [class.is-invalid]="fname.invalid && fname.touched"></ion-input>
            </ion-item>
            <div class="errors" *ngIf="(fname.invalid && fname.touched) || fname.dirty">
              <small *ngIf="fname.errors?.required" class="text-danger">First name is required.</small>
            </div>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input id="lname-input" placeholder="Last Name" type = "text" class="form-control" formControlName="lname"
              [class.is-invalid]="lname.invalid && lname.touched"></ion-input>
            </ion-item>
            <div class="errors" *ngIf="(lname.invalid && lname.touched) || lname.dirty">
              <small *ngIf="lname.errors?.required" class="text-danger">Last name is required.</small>
            </div>  
          </ion-col>
        </ion-row>
        <ion-col>
          <ion-item>
            <ion-input id="email-input" placeholder="Email" type = "text" class="form-control" formControlName="email"
            [class.is-invalid]="email.invalid && email.touched"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="(email.invalid && email.touched) || email.dirty">
              <small *ngIf="email.errors?.required" class="text-danger">Email is required.</small>
              <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address.</small>
          </div>
        </ion-col>
        <ion-col>
          <br>
          <ion-label>
            Enter your birthday:
          </ion-label>
          <ion-item>
            <ion-input id="email-input" placeholder="Birthday" type = "date" class="form-control" formControlName="birthday"
            [class.is-invalid]="birthday.invalid && birthday.touched"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="(birthday.invalid && birthday.touched) || email.dirty">
              <small *ngIf="birthday.errors?.required" class="text-danger">Birthday is required.</small>
              <small *ngIf="birthday.errors?.pattern" class="text-danger">Please provide a valid date.</small>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input id="email-input" placeholder="Address" type = "text" class="form-control" formControlName="address"
            [class.is-invalid]="address.invalid && address.touched"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="(address.invalid && address.touched) || address.dirty">
              <small *ngIf="address.errors?.required" class="text-danger">Address is required.</small>
              <small *ngIf="address.errors?.pattern" class="text-danger">Please provide a valid date.</small>
          </div>
        </ion-col>
        <ion-col>
          <br>
          <ion-label>
            Enter your surgery date:
          </ion-label>
          <ion-item>
            <ion-input id="email-input" placeholder="Surgery Date" type = "date" class="form-control" formControlName="surgery_date"
            [class.is-invalid]="surgery_date.invalid && surgery_date.touched"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="(surgery_date.invalid && surgery_date.touched) || address.dirty">
              <small *ngIf="surgery_date.errors?.required" class="text-danger">Surgery Date is required.</small>
              <small *ngIf="surgery_date.errors?.pattern" class="text-danger">Please provide a valid date.</small>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input id="username" placeholder="username" type = "text" class="form-control" formControlName="username"
            [class.is-invalid]="username.invalid && username.touched"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="(username.invalid && username.touched) || username.dirty">
            <small *ngIf="username.errors?.required" class="text-danger">Username is required.</small>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <app-show-hide>
              <ion-input id="password" placeholder="password" type="text" [type]="'password'" class="form-control" formControlName="password"
              [class.is-invalid]="password.invalid && password.touched"></ion-input>
            </app-show-hide>
          </ion-item>
          <div class="errors" *ngIf="(password.invalid && password.touched) || password.dirty">
            <small *ngIf="password.errors?.required" class="text-danger">Password is required.</small>
          </div>
        </ion-col>
        <ion-col>
            <ion-item>
              <app-show-hide>
                <ion-input id="re-password" placeholder="re-enter password" type="text" [type]="'password'" class="form-control" formControlName="re_password"
                [class.is-invalid]="re_password.invalid && re_password.touched"></ion-input>
              </app-show-hide>
            </ion-item>
            <div class="errors" *ngIf="(re_password.invalid && re_password.touched) || re_password.dirty">
              <small *ngIf="re_password.errors?.required" class="text-danger">Please re-enter the password</small>
            </div>
        </ion-col>
        <ion-button  id="reg_button" (click)=btnRegister() expand="block" style = "margin: 20px;">Register</ion-button>  
        <div id = "options">
          <ion-button  (click)=btnPatient() style="float: left;" fill="clear">Patient Login</ion-button>
        </div>
      </ion-grid>
    </form>
  </div>
</ion-content>
