
#title{
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-20%);
    white-space: nowrap;
  }
  h1{
    font-size: 200%;
  }
  #registration_form{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  ion-item{
    width:90%;
    margin-left: 20px;
  }
  ion-row{
    width: 95%;
  }
  #options {
    width: 400px;
    margin-top: 25px;
    display: inline-block;
  }
  ion-item {
    margin-top: 8px;
    margin-bottom: 2px;
  }
  .alert {
    width: fit-content;
    white-space: nowrap;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    padding: 10px;
    margin-left: 50%;
    margin-top: 175px;
    text-align: center;
  }
  .errors {
    float: left;
    color:#ba3939;
    background-color: transparent;
    margin-left: 23px;
    margin-bottom: 2px;
  }
  #reg_button {
    margin-top: 15px;
  }
  
  
  
  