
<ion-content color="light">
  <div id="title">
    <h1>Reset Password</h1>
  </div>
  <div id ="loginform">
    <form [formGroup]="formInputs" id="form">
      <ion-list style="background-color: transparent;">
        <ion-item>
          <ion-label>
            <ion-icon name = 'person'></ion-icon>
          </ion-label>
          <ion-input placeholder="username" type = "text" id="username" class="form-control" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name = "key"></ion-icon>
          </ion-label>
          <ion-input placeholder="New Password" type = 'text"' id="new_password" class="form-control" formControlName="new_password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name = "key"></ion-icon>
          </ion-label>
          <ion-input placeholder="Re-enter Password" type = 'text"' id="re_password" class="form-control" formControlName="re_password"></ion-input>
        </ion-item>
        <ion-button expand="block" style = "margin: 20px;" (click)="btnResetPassword()">Reset Password</ion-button>
        
        <div id = "options">
          <ion-button (click)=btnClickPatient() style="float: left;" fill="clear">Patients Login</ion-button>
          <ion-button (click)=btnClickDoctor() style="float: right;" fill="clear">Doctors Login</ion-button>
        </div>

      </ion-list>
    </form>
  </div>
</ion-content>
